nav{
    background-color: darkblue;
    text-align: center;
  
}


#map {
    margin: 5% -10%;
    height: 380px;
    width: 60%;
    float: left;
  
  }

  .row .col{
    border-radius:500px;
    cursor: pointer;
  }

 
  body {
    height: 100%;
    padding: 0;
    background-image: radial-gradient(blue, lightblue, royalblue);
  }

  #player {
    margin: 5% -10%;
    float: right; 
    background-color: black; 
    width: 60%; 
    height: 380px;

  }
  #playerList{
    position: absolute;
    top: 520px;
    margin-left: 15px;
    margin-right:15px;
  }



