nav{
    background-color: deepskyblue;
    text-align: center
}

#map {
    margin: 5% -10%;
    height: 380px;
    width: 60%;
    float: left;
  }

  body {
    height: 100%;
    padding: 0;
  }

  #player {
    margin: 5% -10%;
    float: right; 
    background-color: black; 
    width: 60%; 
    height: 380px;

  }
  #playerList{
   top: 425px; width:100%; height: 230px;
  }



